<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PicStaPost</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
      <li *ngIf="isLoggedIn" routerLinkActive="active"><a routerLink="/allposts">All Post</a></li>
      <li *ngIf="isLoggedIn" routerLinkActive="active"><a routerLink="/following">Following</a></li>
      <li *ngIf="isLoggedIn" routerLinkActive="active"><a routerLink="/favourites">Favourites</a></li>
      <li *ngIf="isLoggedIn" routerLinkActive="active"><a routerLink="/myPosts">My Post</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active"><a routerLink="/signup">Sign Up</a></li>
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li *ngIf="isLoggedIn"><a href="#">Logout</a></li>
    </ul>
  </div>
</nav>
