<div class="row hero-row">
  <div class="col-sm-6 text-center">
    <img src="../../assets/images/unicorn_dab.png" alt="">
  </div>
  <div class="col-sm-6 text-header-div">
    <div class="row margin-bottom">
      <h4 class="margin-bottom white-text"><strong>Welcome to PicstaPost!</strong></h4>
      <h1 class="margin-top white-text">Capture moments</h1>
      <h1 class="margin-top white-text">and share your</h1>
      <h1 class="margin-top white-text">amazing experiences</h1>
    </div>
    <div class="row margin-top btn-padding-bottom-mobile">
      <div class="col-sm-12 padding-left-zero">
        <button *ngIf="!isLoggenIn" class="btn btn-lg btn-default btn-spacing pull-left" routerLink="/signup">
          <strong class="purple-text">Sign Up</strong>
        </button>
        <button *ngIf="!isLoggenIn" class="btn btn-lg btn-primary btn-login-width pull-left" routerLink="/login">
          <strong>Login</strong>
        </button>
        <button *ngIf="isLoggenIn" class="btn btn-lg btn-primary pull-left" routerLink="/allposts">
          <strong>Proceed to All Post</strong>
        </button>
      </div>
    </div>
  </div>
</div>


