.title-header {
  color: #FFFFFF;
  background: #39CCCC;
  height: 100vh;
  font-family: 'Shrikhand', cursive;
  margin-bottom: 0;
}

h1 {
  font-size: 11em;
  text-align: center;
  vertical-align: middle;
  line-height: 50vh;
}

@media (max-width: 576px) {
  h1 {
    font-size: 4em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 6em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 9em;
  }
}
